

.picture-background{
    
    background: #000; 
    background-position: center;
    background-size: cover;
}




.main-home-nav{
   background-color: rgba(39, 174, 96, 0.50);
}

.main-home-nav:after,
.main-home-nav:before{
    background-color: rgba(39, 174, 96, 0.50);
}

